PythonVersion/venv/*
PythonVersion/stockfish/*
data/rawData/*
data/preparedData/*
data/savedModels/model_**
PythonVersion/libs/__pycache__/*
PythonVersion/runs/*
.vscode/settings.json
data/savedModels/bestModel.txt
